body{
	background-color:#f8f9fa;
}

.navbar{
	box-shadow:0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.card{
	box-shadow:0 .125rem .25rem rgba(0,0,0,.075) !important;
	border-radius:3%;
}

.back-icon{ 
	color: rgb(0, 0, 0);
	transition: color 0.3s  ease;
	font-weight: bolder;
 } 

 .back-icon:hover { 
	color: #125ef7; 
	font-weight: bolder;
}